@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Junge&family=Rubik+Vinyl&family=Silkscreen&family=Updock&display=swap');

* {
    margin: 0px;
    padding: 1px;
}


/** hnf **/
.banner {
    background-color: pink;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    height: 5vh;
}

.banner a {
    float: right;
    text-decoration: none;
}

.footer {
    background-color: pink;
    height: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}

.footer p {
    float: left;
}

.footerlinks {
    float: right;
}


/** index **/
.main {
    background-image: url('images/bgimage.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 90vh;
}

.maintxt {
    padding: 10vh;
    top: 10%;
}

.maintxt a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 1em;
    display: inline-block;
}

.maintxt h1 {
    color: lightblue;
}

.maintxt h1 span {
    color: plum;
}


/** gallery **/

.maingallery {
    background-color: lightgoldenrodyellow;
    font-family: 'Rubik Vinyl', cursive;
    height: 90vh;
}

.maingallery h1 span {
    color: hotpink;
}

.pictures {
    width: 100%;
    text-align: center;
}